## #1 Figure out how to print the current date and time. 
The solution should be in this format:  2021-08-05 11:56:30 (YYYY-MM-DD HH:MM:SS)

Hint:  You're going to have to import a library

In [7]:
import datetime
print(datetime.datetime.now()) # prints datetime as datetime datatype

2021-08-11 04:28:46.392890

## #2 Write a function that accepts the radius of a circle and returns the area of a circle.  
The function for the area of a circle is pi * radius squared.

In [13]:
def area_of_circle(radius):
    import math
    area = math.pi * radius ** 2
    return area

print(area_of_circle(3))

28.274333882308138

## #3 Write a function that takes a list of numbers and returns True of all number in the list are unique and returns False if the list contains duplicate numbers. 
* Hint, maybe think of using a set()

Input:  input_list = [2,4,5,5,7,9]

Expected Output:  False

In [5]:
def duplicate_or_no(list1):
    list2 = set(list1)
    if len(list1) == len(list2):
        return True
    elif len(list1) != len(list2):
        return False

input_list = [2,4,5,5,7,9]
print(duplicate_or_no(input_list))

False

## #4 Write a Python program to count the number of each character of a given text of a text file.
* Use the text file called 'horse-racing.txt' in the data folder.  
* Convert all the characters to uppercase first, then count them.  
* Use a dictionary in which the keys of the dictionary are the characters, and the values are the counts of that character. 

Expected Result:  `{'T': 52, 'H': 42, 'E': 95, ' ': 167, 'A': 62, 'L': 42, 'N': 61, 'O': 58, 'M': 19, 'S': 58, 'C': 25, 'P': 16, 'I': 41, 'V': 10, 'U': 28, 'R': 61, 'D': 35, 'G': 9, '1': 8, 'W': 13, 'F': 12, 'Y': 12, '.': 8, 'B': 6, '2': 10, '4': 2, '(': 1, ',': 8, '0': 10, '3': 2, ')': 1, 'J': 1, 'K': 2, '\n': 4, "'": 3, '[': 1, ']': 1, '7': 1, '8': 1, '9': 2}`

In [17]:
text_file_path = 'data/horse-racing.txt'

file_object = open(text_file_path, 'r')
data = file_object.read()
file_object.close()
#print(data)

uppercase_data = data.upper()
#print(uppercase_data)

#print(set(uppercase_data)) # getting the unique characters in the text using set

def count_characters(text):
    character_count = {} # creating a dictionary
    for element in set(text): 
        character_count[element] = text.count(element) # counting each character
    return character_count

print(count_characters(uppercase_data))

{'A', 'Y', '0', ')', '[', 'O', 'V', 'U', 'W', '3', '9', 'H', 'L', 'I', ' ', 'M', 'S', '.', '7', '\n', ']', 'T', 'P', 'D', '8', 'C', 'B', 'R', ',', '4', '1', 'F', "'", 'E', '(', 'J', 'K', 'N', '2', 'G'}
{'A': 62, 'Y': 12, '0': 10, ')': 1, '[': 1, 'O': 58, 'V': 10, 'U': 28, 'W': 13, '3': 2, '9': 2, 'H': 42, 'L': 42, 'I': 41, ' ': 167, 'M': 19, 'S': 58, '.': 8, '7': 1, '\n': 4, ']': 1, 'T': 52, 'P': 16, 'D': 35, '8': 1, 'C': 25, 'B': 6, 'R': 61, ',': 8, '4': 2, '1': 8, 'F': 12, "'": 3, 'E': 95, '(': 1, 'J': 1, 'K': 2, 'N': 61, '2': 10, 'G': 9}

## #5 Using the list below...
* Remove the fourth number from the list.
* Take that number you just removed and multiply the last number of the list by that number. 
* Append that number to the end of the list.
* Print the list

INPUT: [1, 1, 2, 3, 5, 8, 13, 21]

EXPECTED OUTPUT:  [1, 1, 2, 5, 8, 13, 21, 63]

In [9]:
list1 = [1, 1, 2, 3, 5, 8, 13, 21]

def modify_fourth(input_list):
    number_removed = input_list.pop(3) # remove and return the 4th element in the list
    new_number = number_removed * input_list[-1]
    input_list.append(new_number)
    return input_list

print(modify_fourth(list1))

[1, 1, 2, 5, 8, 13, 21, 63]

## #6 Using the list below, make a new list that contains only the numbers from the original list that are divisible by three.

* Input:  original_list = [2, 3, 6, 8, 9, 15, 19, 21]
* Expected new list:  [3, 6, 9, 15, 21]

In [4]:
original_list = [2, 3, 6, 8, 9, 15, 19, 21]

def divisible_by_3(input_list):
    for item in input_list:
        if item%3 != 0: # if element in list is not divisible by 3
            input_list.remove(item) # remove it from the list
    return input_list

print(divisible_by_3(original_list))

[2, 3, 6, 8, 9, 15, 19, 21]
[3, 6, 9, 15, 21]

## #7 Reverse the list below

In [7]:
original_list = [2, 3, 6, 8, 9, 15, 19, 21]

reversed_list = []
for item in reversed(original_list): # looping through a list in reverse
    reversed_list.append(item)

print(reversed_list)

[21, 19, 15, 9, 8, 6, 3, 2]

## #8 Using the list below, turn every item of the list into its square.  
* Input original_list = [1, 2, 3, 4, 5, 6, 7]
* Expected new_list:  [1, 4, 9, 16, 25, 36, 49]

In [8]:
original_list = [1, 2, 3, 4, 5, 6, 7]

def square_list(input_list):
    new_list = []
    for item in input_list:
        new_list.append(item ** 2)
    return new_list

print(square_list(original_list))

[1, 4, 9, 16, 25, 36, 49]

## #9  Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order.
Given input:
```
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
```

Expected Output:
```
10 400
20 300
30 200
40 100
```

In [22]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

def iterate_two_lists(list1, list2):
    for number in range(0,4):
        print(list1[number], list2[(number*-1)-1])
        
iterate_two_lists(list1, list2)

10 400
20 300
30 200
40 100

## #10 Remove empty strings from the list of strings.
Input:  `list_of_strings = ['I', 'love', '', '', 'data', '', 'science', '!']`

Expected Output:  `['I', 'love', 'data', 'science', '!']`

In [11]:
list_of_strings = ['I', 'love', '', '', 'data', '', 'science', '!']

def remove_empty_strings(strings_list):
    while ("" in strings_list):
        strings_list.remove('')
    return strings_list

print(remove_empty_strings(list_of_strings))

['I', 'love', 'data', 'science', '!']

##  #11 Check if the value 999 exists in the dicitionary below.  If so, print true, if not print false.

Input: sample_dict = {'a': 100, 'b': 999, 'c': 300}

Expected Output:  True

In [17]:
sample_dict = {'a': 100, 'b': 999, 'c': 300}

def check_for_999(dictionary):
    return (999 in dictionary.values()) # checking for 999 in the dictionary's values - don't include .values() to check keys

print(check_for_999(sample_dict))

True

# Extra Credit

## Using pandas, read the csv file in the data folder called `titianic.csv` and store it as a variable named `df`.

In [68]:
import pandas as pd

df = pd.read_csv(filepath_or_buffer='data/titanic.csv', sep=',')
df.head()

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## I know we didn't cover this, but figure out how to find the mean age of the age column in your dataframe.

In [21]:
mean_age = df['age'].mean(axis=0) # getting the mean of a column named 'age' in df dataframe
print(mean_age)

29.69911764705882

## What was the oldest and youngest ages on the titanic?

In [27]:
oldest_age = df['age'].max()
print('oldest age is', oldest_age)

youngest_age = df['age'].min()
print('youngest age is', youngest_age)

oldest age is 80.0
youngest age is 0.42

## How many people embarked from station 'S'?

In [72]:
df_num_rows = df.shape[0]
print('total number of rows in the dataframe is', df_num_rows)

embarked_from_S = sum(df['embarked'] == 'S')
print('total number of people that embarked from station S is', embarked_from_S)

total number of rows in the dataframe is 891
total number of people that embarked from station S is 644